components-palette
    display block
    padding 0
    overflow auto
    .aBlock, .aBlockCategory
        @extends button
        margin 0
        border-radius 0
        h3
            padding 0
            margin 0
    .aBlockCategory
        & > div
            margin 0.5rem -1rem -0.5rem