editor-screen
    display flex
    flex 1 1 auto
    flex-flow column nowrap
    height 100%
    & > .Tabs
        flex 0 0 auto
    preview-panel
        grid-column 1 / 1
        grid-row 1 / 1
    components-palette
        grid-column 1 / 1
        grid-row 2 / 2
    .split
        grid-column 1 / 1
        grid-row 3 / 3
        display flex
        flex-flow row nowrap
        button
            flex 1 1 50%
            border 0
            border-radius 0
            & + button
                margin-left 1px
    graph-editor
        grid-column 2 / 2
        grid-row 1 / span 3

#theEditingPanel
    grid-template-columns 16rem 1fr
    grid-template-rows @grid-template-columns
    components-palette, canvas.aPreview
        background bgColor
#theOutputScreen
    display flex
    flex-flow column nowrap
    background borders
    flex 1 1 auto
    button
        grid-row 2 / 2
        border-radius 0
        border 0
    .anOutput
        flex 1 1 auto
        overflow overlay
        position relative
        max-width 100%
        max-height 100%
        min-width 100%
        min-height 100%
        text-align center
        padding 1rem
        box-sizing border-box
        display flex
        canvas
            box-shadow 0 0.25rem 0.5rem rgba(#00, 0.35)
    .anOutputWrap
        margin auto
    .flexrow
        height 4rem
        flex 0 0 auto
#theEditingPanel
    display grid
    grid-gap 1px
    height 100%
    background borders
    flex 1 1 auto
    position relative

#theShowOriginalLabel
    position fixed
    right 1rem
    top 4rem
    & + div
        display none
        position absolute
    &:hover + div
        display block
    &:hover + div + div
        visibility hidden
    z-index 2