graph-editor
    display block
    position relative
    overflow hidden
    /*
    background-color bgColor
    background-image: linear-gradient(to left, rgba(borders, 0.2), rgba(borders, 0.2) 99%/20, transparent 100%/20, transparent),
                      linear-gradient(to bottom, rgba(borders, 0.2), rgba(borders, 0.2) 99%/20, transparent 100%/20, transparent),
                      linear-gradient(to left, #000, #000 99%/500, transparent 100%/500, transparent),
                      linear-gradient(to bottom, #000, #000 99%/500, transparent 100%/500, transparent);
    background-size 20px 20px, 20px 20px, 500px 500px, 500px 500px
    */
    background bgColor url('img/grid.png')
    #thePreviewCanvas
        position absolute
        left 0
        top 0
    .aCoordLabel
        position absolute
        bottom 0.5rem
        left 1rem
        font-size 75%
        opacity 0.65
