icon
    display inline
    svg
        display inline
        height 1.5rem
        width @height
        fill currentColor !important
        vertical-align middle
    & + *
        margin-left 0.35rem