icon
    display inline
    svg
        display inline
        height 1.5rem
        width @height
        fill currentColor !important
        vertical-align middle
        &.hint
            height 1rem
            width @height
            opacity 0.27
    & + *
        margin-left 0.35rem