color-picker
    input
        padding 0
        border 0
        background transparent
        margin 0.25rem 1.25rem 0.75rem
        width 100%
        max-width calc(100% - 2.5rem)
        height 3rem
