vec3-input
    display block
.aVec3Input
    width 5rem
    height @width
    border 1px solid borders
    border-radius 100%
    background-color pitchBlack
    background-image radial-gradient(closest-side at center, borders, pitchBlack)
    background-repeat no-repeat
    position relative
    cursor pointer
    padding 0
    margin 1rem
.aVec3InputThumb
    border 1px solid fjs
    border-radius 100%
    width 0.5rem
    height @width
    padding 0
    background borders
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)