::-webkit-scrollbar
    width 0.75rem
    height 0.75rem
::-webkit-scrollbar-track
    background rgba(textColor, 0.17)
    border-radius br
::-webkit-scrollbar-thumb
    border-radius br
    background: rgba(textColor, 0.27)
    &:hover
        background rgba(textColor, 0.5)
    &:active
        background rgba(textColor, 0.35)
::-webkit-scrollbar-track:window-inactive
    background rgba(textColor, 0.1)
::-webkit-scrollbar-corner
    background transparent

input, button, textarea, select
    line-height 1.5rem
    padding 0.5rem 1rem
    border 1px solid borders
    box-sizing border-box
    background bgColor
    font inherit
    color inherit
    border-radius br
    box-shadow 0 -2px 1px borders inset
input[type="color"]
    border 0
button, select
    box-shadow 0 2px 1px borders inset
    border 1px solid borders
    border-top-color lighten(borders, 10%)
    border-bottom-color mix(black, borders, 50%)
    cursor pointer
    outline none
    color textColor
    &:hover, &.hover, &:focus
        border-color fjs
    &:active, &.active
        background fjs
        color black
        box-shadow 0 2px 1px textColor inset
select
    &:active, &.active
        background bgColor
        color textColor
        box-shadow 0 2px 1px borders inset